.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    height: 100vh; /* Set container height to full viewport height */
  }
  
  .form-container {
    width: 50%; /* Take up 50% of the viewport width */
    max-width: 500px; /* Limit the maximum width of the form */
    text-align: center; /* Center form elements */
  }
  
  .user-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 8px; /* Add some bottom margin to separate input and button */
    width: calc(100% - 20px); /* Adjust input width to fit within the container */
  }
  
  .submit-button {
    padding: 8px 16px;
    background-color: #dc3545; /* Change to danger color */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: calc(100% - 20px); /* Adjust button width to fit within the container */
  }
  
  .expenditure {
    width: 50%; /* Take up 50% of the viewport width */
    max-width: 500px; /* Limit the maximum width of the list */
    margin-top: 20px;
  }
  
  .list-item {
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
    background-color: #f8f9fa; /* Add background color to list items */
    padding: 8px;
    width: 100%; /* Take up 100% of the container width */
  }
  